@import url('../../../assets/css/main.css');
.hero-area .typewriter-container > p:first-child { min-height: 30px; color: var(--light-white); font: 600 18px 'IBM Plex Mono', monospace; }
.blinking-cursor { display: inline-block; width: .2em; height: 1.2em; margin-left: .1em; vertical-align: bottom; background: var(--highlight-color); animation: blink 1s infinite; }
@keyframes blink { 50% { opacity: 0; } }